*{
    list-style: none;
}

#wrapper{
    margin: auto;
    margin-top: 30px;
    display: flex;
    width: 60%;
    text-align: center;
}

#sidebarList li a{
    text-decoration: none;
    color: black;
}

#sidebarBox ul{
    text-align: left;
}

#sidebarList li{
    position: relative;
}

#sidebarList li:hover{
    background-color: #bebebe;
}

a{
    position: relative;
    margin: 0;
    padding: 0;
}


a:hover{
    color: #000;
}

#createList li{
    text-align: left;
    vertical-align: middle;
}

#createList li label{
    margin: 10px;
    width: 100px;
}

#createList li textarea{
    vertical-align: middle;
}