ul{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}

body{
    background-color: slategrey;
}

#wrapper:not(#sidebar){
    min-height: 800px;
    margin: auto;
    margin-top: 30px;
    padding: 15px 15px 15px 0;
    display: flex;
    background-color: white;
    width: 60%;
    text-align: center;
}

#sidebar{
    position: fixed;
    left: 22%;
}

.image-box{
    width: 150px;
    margin: auto;
}

.link-hoverable:hover{
    color: #fff;
    background-color: #0d6efd;
    transition: 0.3s;
}

#sidebar-heading{
    text-align: center;
}

#index_message{
    border: 2px solid #90EEBF;
    border-radius: 5px;
    background-color: #90EEBF;
}

#create{
    margin: auto;
}

#createList li{
    text-align: left;
}

#createList li label{
    margin: 10px;
    width: 150px;
}

#createList li textarea{
    vertical-align: middle;
}

#error_message{
    color: red;
}

#category_list{
    margin: auto;
    padding: auto;
}

#category_list li:first-of-type{
    margin-top: 40px;
}

#category_list li:last-of-type{
    margin-bottom: 40px;
}

#category_list li{
    width: 100%;
    margin: 2px;
    padding: 3px;
    border-radius: 3px;
}

#category_list li:hover{
    background-color: slategrey;
}

#category_list li a{
    text-decoration: none;
    color: black;
}

#post_list{
    width: 100%;
    text-align: left;
}

.post_overview{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 3px;
}

.post_overview:hover{
    background-color: slategrey;
    transition: background-color 0.2s linear;
}

.post_overview img{
    object-fit: scale-down;
    margin: 5px;
}

.post_information{
    margin-left: 15px;
}

div#login_box{
    margin: auto;
    height: 100%;
    text-align: center;
}

ul#login_form{
    text-align: left;
}

ul#login_form li label{
    margin: 10px;
    width: 100px;
}

li#login_button_box{
    display: flex;
}

#login_button_box input{
    flex: 1;
}

ul#registration_form{
    text-align: left;
}

ul#registration_form li label{
    margin: 10px;
    width: 150px;
}

#button_box{
    text-align: center;
}

#registration_button{
    width: 50%;
}

#list_nav{
    text-align: center;
    margin: 10px auto;
}

.row{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray; 
}

#user_box{
    
    flex: 1;
    text-align: center;
    margin: auto;
}

#seller_items{
    margin: auto;
    width: 70%;
}

#review_box{
    margin: auto;
    width: 70%;
}

#post_box{
    margin: auto;
}

#rating{
    width: 80%;
}

#rating-guide{
    border: none;
}

#submit-box{
    margin: 20px;
}

.list-image-box{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}